@use "sass:math";

$lock-screen-scale-factor:1;
$lock-screen-music-player-font-size: $lock-screen-scale-factor * 1rem;
$lock-screen-music-player-padding:$lock-screen-scale-factor * 0.75rem;
$lock-screen-music-player-wrapper-padding: $lock-screen-scale-factor * 1rem;
$lock-screen-music-player-gap:$lock-screen-scale-factor * 0.5rem;
$lock-screen-music-player-border-radius:$lock-screen-scale-factor * 1.25rem;
$lock-screen-music-player-max-width:$lock-screen-scale-factor * 325px;
$lock-screen-music-player-min-width:$lock-screen-scale-factor * 100px;
$lock-screen-music-player-progress-height:$lock-screen-scale-factor * 0.375rem;
$lock-screen-music-player-progress-hover-hight:$lock-screen-scale-factor * 0.675rem;
$lock-screen-music-player-center-padding-y:$lock-screen-scale-factor * 0.5rem;
$lock-screen-music-player-wave-size:$lock-screen-scale-factor * 2px;
$lock-screen-music-player-wave-gap:$lock-screen-scale-factor * 0.125rem;
$lock-screen-music-player-waves-width: calc(6*$lock-screen-music-player-wave-size + 5*$lock-screen-music-player-wave-gap);
$lock-screen-music-player-big-image-border-radius:$lock-screen-scale-factor * 0.625rem;
$lock-screen-music-player-bottom-button-padding:$lock-screen-scale-factor * 0.25rem;
$lock-screen-music-player-big-image-margin-bottom: $lock-screen-scale-factor * 1.5rem;
$lock-screen-music-player-wrapper-padding-bottom:25%;
$lock-screen-music-player-wrapper-padding-y:5%;

.lock-screen-music-player-wrapper{
    --factor:#{$lock-screen-scale-factor};
    padding: 0 
    $lock-screen-music-player-wrapper-padding-y 
    $lock-screen-music-player-wrapper-padding-bottom
    $lock-screen-music-player-wrapper-padding-y;
    font-size: $lock-screen-music-player-font-size;
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    position: relative;
    transition: background-color .2s ease;

    &.big-cover{
        background-color: var(--average-color,transparent);
    }

    & > .big-blur-cover{
        position: absolute;
        z-index: 0;
        height: 120%;
        filter: blur(3rem) brightness(75%);
        -webkit-filter: blur(3rem) brightness(75%);
        transform: translateZ(0);
        object-fit: contain;
        opacity: 0.75;
        top: 0;

        html[data-theme="dark"] &{
            filter: blur(3rem) brightness(50%);
            -webkit-filter: blur(3rem) brightness(50%);
        }
    }

    .big-blur-image-enter-active,
    .big-blur-image-leave-active {
        transition: opacity .2s ease;
    }

    .big-blur-image-enter-from,
    .big-blur-image-leave-to {
        opacity: 0;
    }

    
    & > .big-image,
    & > .big-image-placeholder{
        aspect-ratio: 1;
        width: 100%;
        min-width: calc($lock-screen-music-player-min-width - ($lock-screen-scale-factor * 3rem));
        max-width: calc($lock-screen-music-player-max-width - ($lock-screen-scale-factor * 3rem));
        margin-bottom: $lock-screen-music-player-big-image-margin-bottom;
    }   

    & > .big-image{
        object-fit: cover;
        z-index: 0;
        border-radius: $lock-screen-music-player-big-image-border-radius;
        box-shadow: 0px 4px 15px -5px rgb(var(--black),0.25);
    }

    .lock-screen-music-player{
        z-index: 0;
        user-select: none;
        background-color: rgba(var(--surface),0.75);
        color: rgb(var(--on-surface));
        padding: $lock-screen-music-player-padding;
        width: 100%;
        min-width: $lock-screen-music-player-min-width;
        max-width: $lock-screen-music-player-max-width;
        backdrop-filter: blur(1.75rem);
        -webkit-backdrop-filter: blur(1.75rem);
        border-radius: $lock-screen-music-player-border-radius;
    
        & > .top{
            margin-bottom: $lock-screen-music-player-gap;
            font-size: calc($lock-screen-music-player-font-size * 0.875);
            display: flex;
            align-items: center;
    
            & > .cover{
                width: 100%;
                height: 100%;
                background-color:rgba(var(--on-surface),0.1);
                max-width: math.div($lock-screen-music-player-max-width,6);
                max-height: math.div($lock-screen-music-player-max-width,6);
                border-radius: $lock-screen-music-player-border-radius - $lock-screen-music-player-padding;
                overflow: hidden;
                margin-right: $lock-screen-music-player-padding;
    
                & > img {
                    width: 100%;
                }
    
                &:not(:empty) {
                    box-shadow: 0px 2px 15px -5px rgb(var(--black),0.5);
                }
            }

            & > .cover-placeholder{
                height: 0px;
                width: 100%;
                max-width: $lock-screen-music-player-waves-width;
                margin-right: $lock-screen-music-player-padding;
            }

            .cover-enter-active,
            .cover-leave-active {
                transition: max-height .2s ease, 
                            max-width .2s ease,
                            opacity .1s ease,
                            scale .2s ease;
            }

            .cover-enter-from,
            .cover-leave-to {
                max-height: 0px;
                max-width: $lock-screen-music-player-waves-width;
                opacity: 0;
                scale: 0.5;
            }


            & > .info {
                display: flex;
                flex-direction: column;
                width: 0;
                transition: width .4s ease .25s;

                &.centered{
                    width: 100%;
                }

                & > .title{
                    font-weight: bold;
                    text-align: center;
                    white-space: nowrap;
                }
        
                & > .artist{
                    color: rgba(var(--on-surface),0.5);
                    text-align: center;
                    white-space: nowrap;
                }
            }
    
            .waves{
                margin-left: auto;
                margin-right: $lock-screen-music-player-center-padding-y;
                display: flex;
                gap: $lock-screen-music-player-wave-gap;
                align-items: center;
                width: $lock-screen-music-player-waves-width;
        
                .wave{
                    min-height: $lock-screen-music-player-wave-size;
                    height: var(--amount,$lock-screen-music-player-wave-size);
                    width: $lock-screen-music-player-wave-size;
                    border-radius: $lock-screen-music-player-wave-size;
                    background-color: rgba(var(--on-surface),0.25);
                    transition: height .2s ease-in-out;
                }
            }
        }
    
        & > .center {
            margin-bottom: 1.5*$lock-screen-music-player-gap;
            display: flex;
            align-items: center;
            font-size: calc($lock-screen-music-player-font-size * 0.625);
            font-weight: 700;
            padding: 0 $lock-screen-music-player-center-padding-y;
            color: rgba(var(--on-surface),0.5);
    
            &:hover,
            &:active {
                color: rgba(var(--on-surface),0.75);
                & > .progress {
                    height:$lock-screen-music-player-progress-hover-hight;
                    &::after{
                        background-color: rgba(var(--on-surface),0.75);
                    }
                }
            }
    
            & > span{
                text-align: center;
                display: block;
                min-width: $lock-screen-scale-factor * 1.675rem;
            }
    
            & > .progress {
                position: relative;
                margin: 0 $lock-screen-music-player-center-padding-y;
                width: 100%;
                background-color:rgba(var(--on-surface),0.1);
                height: $lock-screen-music-player-progress-height;
                border-radius: $lock-screen-music-player-progress-height;
                overflow: hidden;
                transition: height 100ms ease-in-out;
    
                & > input{
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    width: 100%;
                    appearance: none;
                    margin-left: 0;
                    margin-top: 0;
                    height: 100%;
                    opacity: 0;
                }
    
                &::after{
                    content: "";
                    width: var(--percent);
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: rgba(var(--on-surface),0.5);
                    transition: width .1s linear;
                }
            }
        }
    
        & > .bottom {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8%;

            & > .bottom-button{
                transition: scale .1s ease, opacity .1s linear;
                padding: $lock-screen-music-player-bottom-button-padding;
                width: 14%;
                border-radius: 100%;
                &:first-child,
                &:last-child{
                    width: 12%;
                }

                &:active{
                    scale: 0.9;
                    background-color: rgb(var(--on-surface),0.1);
                }

                & > svg{
                    color: rgb(var(--on-surface));    
                    
                    position: relative;
                    display: block;

                    & > path{
                        fill: currentColor;
                    }
                }
            }
        }
    }

    .big-image-enter-active,
    .big-image-leave-active,
    .play-pause-enter-active,
    .play-pause-leave-active {
        transition: scale .1s ease, opacity .1s ease;
    }

    .big-image-enter-from,
    .big-image-leave-to,
    .play-pause-enter-from,
    .play-pause-leave-to {
        scale: 0.5;
        opacity: 0;
    }
}