@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'palette';


body{
    height: 100vh;
    width:100vw;
    background-color: rgb(var(--bg));
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

*,*::after,*::before{
    box-sizing: border-box;
}

.layout{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40px calc(100vh - 40px);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "navigation actions"
        "navigation content";

    &.is-fullscreen{
        height: 100vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.navigation{
    grid-area: navigation;
    background-color: rgba(var(--gray-4),0.5);
    padding: 0.5rem;
    & > a {
        display: block;
        font-size: 0.875rem;
        text-decoration: none;
        color: rgb(var(--on-surface));
        background-color: rgb(var(--gray-4));
        padding: 0.5rem;
        border-radius: 0.375rem;

        &:not(:first-child){
            margin-top: 0.5rem;
        }

        &.router-link-active{
            color: rgb(var(--white));
            background-color: rgb(var(--blue));
        }
    }
}

.actions {
    background-color: rgba(var(--gray-5),0.75);
    grid-area: actions;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem;

    & > button{
        border: 0;
        border-radius: 0.375rem;
        color: rgb(var(--white));
        height: 100%;
        background-color: rgb(var(--indigo));
        padding: 0 0.5rem;
        &:not(:last-child){
            margin-right: 0.5rem;
        }
    }
}

.content{
    height: 100%;
    width: 100%;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;

    html[data-palette="ios"] &.ios-16{
        background-image: url("./images/ios16-bg-light.png");
        background-size: cover;
    }

    html[data-palette="ios"][data-theme="dark"] &.ios-16{
        background-image: url("./images/ios16-bg-dark.png");
    }

    html[data-palette="ios"] &.ios-17{
        background-image: url("./images/ios17-bg-light.png");
        background-size: cover;
    }

    html[data-palette="ios"][data-theme="dark"] &.ios-17{
        background-image: url("./images/ios17-bg-dark.png");
    }

    &.ratio-9-16{
        aspect-ratio: 9/16;
        width: auto;
        margin: auto;
    }
}